<header>
  <h1 #pageTitle>{{ fullName }} - {{ jobTitle }}</h1>
  <p class="about-summary">{{ aboutMe }}</p>
  <nav #scrollNavbar class="navbar navbar-dark bg-dark fixed-top navbar-hidden">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">{{ fullName }}</span>
    </div>
  </nav>
</header>
<main>
  <div class="accordion" id="acc_MainPageSections">
    <div class="accordion-item section-start">
      <h2 class="accordion-header">
        <button
          class="accordion-button custom-accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#expAndEducationTimelineSec"
          aria-expanded="true"
          aria-controls="expAndEducationTimelineSec"
        >
          {{ sectionTitles[0] }}
        </button>
      </h2>
      <div
        id="expAndEducationTimelineSec"
        class="accordion-collapse collapse show"
      >
        <div class="accordion-body">
          <app-experience-timeline
            [educExp]="educationExperience"
            [workExp]="workExperience"
          ></app-experience-timeline>
        </div>
      </div>
    </div>
    <div class="accordion-item section-start">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed custom-accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#technicalSkillsSec"
          aria-expanded="false"
          aria-controls="technicalSkillsSec"
        >
          {{ sectionTitles[1] }}
        </button>
      </h2>
      <div id="technicalSkillsSec" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <p>Feature in DEV: This section holds all the technical skills</p>
        </div>
      </div>
    </div>
    <div class="accordion-item section-start">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed custom-accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#certificationsSec"
          aria-expanded="false"
          aria-controls="certificationsSec"
        >
          {{ sectionTitles[2] }}
        </button>
      </h2>
      <div id="certificationsSec" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <p>Feature in DEV: this section holds hte certification details</p>
        </div>
      </div>
    </div>
    <div class="accordion-item section-start">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed custom-accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#personalProjectsSec"
          aria-expanded="false"
          aria-controls="personalProjectsSec"
        >
          {{ sectionTitles[3] }}
        </button>
      </h2>
      <div id="personalProjectsSec" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <p>Feature in DEV: this section will have all my personal projects</p>
        </div>
      </div>
    </div>
    <div class="accordion-item section-start">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed custom-accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#hobbiesSection"
          aria-expanded="false"
          aria-controls="hobbiesSection"
        >
          {{ sectionTitles[4] }}
        </button>
      </h2>
      <div id="hobbiesSection" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <p>Feature in DEV: this section will show brief about my hobbies</p>
        </div>
      </div>
    </div>
  </div>
</main>
<!--Accordion: to devide main page into sections-->
