<section class="timeline-section">
  <div class="container">
    <div class="timeline position-relative">
      <!-- The vertical line -->
      <div class="timeline-line position-absolute"></div>

      <!-- Example items -->
      <div class="custom-timeline-cont left-container mb-4">
        <app-education-timeline-card></app-education-timeline-card>
      </div>
      <div class="custom-timeline-cont right-container">
        <app-work-experience-card></app-work-experience-card>
      </div>
    </div>
  </div>
</section>
