@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

$smallScrRightContWidht: 92%;

.timeline {
  /* ensure this container grows with content */
  min-height: 200px;
}

/* vertical line */
.timeline-line {
  width: 0.7rex; /* thickness */
  background-color: #ffffff; /* solid white */
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  z-index: 0; /* behind items */
}

/* make sure items sit above the line */
.timeline-item {
  position: relative;
  z-index: 1;
}

.custom-timeline-cont {
  position: relative;
  width: 50%;
}

.left-container {
  left: 0%;
  width: 49%;
}

.right-container {
  left: 51%;
}

%base-timeline-node {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  top: 32px;
  z-index: 10;
}
.timeline-node-right {
  @extend %base-timeline-node;
  right: -15%;
}

.timeline-node-left {
  @extend %base-timeline-node;
  left: -9.6%;
}

/* Responsive: move the line to the right on small screens */
@include media-breakpoint-down(lg) {
  .timeline-line {
    left: calc(
      100% - 0.5%
    ); /* 2rem gap from the right edge — tweak as needed */
    transform: none;
  }

  .timeline-node-left {
    left: calc(
      100% - (-3.5%)
    );;
  }

  /* optional: reduce width on small screens */
  .timeline-line {
    width: 0.6rex;
  }

  .custom-timeline-cont {
    width: $smallScrRightContWidht;
  }

  .right-container {
    left: 0%;
    width: $smallScrRightContWidht;
  }
}
