<section class="timeline-section">
  <div class="container">
    <div class="timeline position-relative">
      <!-- The vertical line -->
      <div class="timeline-line position-absolute"></div>

      <!-- -------------------------------------------------Work Experience Timeline items---------------------------------------------- -->
      <div class="d-flex flex-column-reverse">
        @for(j of workExp; track j.orderId){

        <div
          class="custom-timeline-cont mb-4"
          [ngClass]="{
            'offset-lg-6': j.orderId % 2 === 0,
            'ps-lg-5': j.orderId % 2 === 0,
            'pe-lg-5': !(j.orderId % 2 === 0)
          }"
        >
          <!-- <img src="workExpTimeLineIcon.jpg" class="timeline-node-left" /> -->
          <app-work-experience-card
            [companyName]="j.companyName"
            [jobTitle]="j.designation"
            [summary]="j.jobDescription"
            [keyResponsibilities]="j.keyRespo"
            [startDate]="j.startDate"
            [endDate]="j.isCurrent ? 'PRESENT' : j.endDate"
            [keyContr]="j.keyContr"
            [expDetailId]="j.orderId"
          ></app-work-experience-card>
        </div>
        }
      </div>

      <!-- -------------------------------------------------Education Timeline items---------------------------------------------- -->
      <div class="d-flex flex-column-reverse">
        @for(i of educExp; track i.orderId){

        <div
          class="custom-timeline-cont mb-4"
          [ngClass]="{
            'offset-lg-6': i.orderId % 2 === 0,
            'ps-lg-5': i.orderId % 2 === 0,
            'pe-lg-5': !(i.orderId % 2 === 0)
          }"
        >
          <!-- <img src="educationExpTimeLineIcon.jpg" class="timeline-node-right" /> -->
          <app-education-timeline-card
            [institutionName]="i.institution"
            [educLevel]="i.education"
            [year]="i.completionYear"
            [brief]="i.brief"
          ></app-education-timeline-card>
        </div>
        }
      </div>
    </div>
  </div>
</section>
