//color pallet
$color-p1: white;
$color-p2: #141414;
$color-p3: #343434;
$color-p4: red;

// body styling
$body-bg: $color-p2;
$body-color: $color-p1;
$font-family-base: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
  sans-serif;
$headings-font-weight: 700;

// Accordion's bootstrap variable overiding
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: $body-bg;
$accordion-button-active-color: $body-color;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$color-p4}' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>") !default;
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$color-p4}' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>") !default;
$accordion-border-color: none;
$accordion-border-radius: none;

// Custom Card styling as per need.
$card-bg: $color-p3;
$card-title-color: $color-p1;
$card-subtitle-color: darkgray;

// Custom styles for the list
$list-group-bg:  $color-p3;
$list-group-border-width: none;

// Model releated custom styling.
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$color-p4}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/></svg>") !default;
$modal-content-border-color: $color-p4;